* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-weight:200;
  
}

body {
  background-color: #FFEBE7;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

header div {
  height: 50px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

#category-name {
  background-color: #d81159;
}
#level {
  background-color: #e1e6f4;
}

#audio-player {
  visibility: hidden;
}

#timer {
  text-align:center;
  font-size:50px;
  color: #d81159;
}

.type-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.type-in #answer {
  width: 600px;
  height: 35px;
}

::placeholder {
  font-size: 20px;
  text-align: center;
  color: lightgrey;
  font-weight: 100;
}

#submit-button {
  width: 50px;
  height: 35px;
  margin: 20px;
  background-color: darkblue;
  color: whitesmoke;
  font-weight: 200;
  border: none;
}

#submit-button .next-level {
  /* ?? Why is the following not changing the background color of the button */
  background-color: #d81159;
}

article {
  margin:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article h1 {
  font-weight: 200;
}

article p {
  font-size:15px;
  color:black;
}

#playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#list-of-songs {
    width:400px;
}

#articles {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
}


#hintsection {
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}

#hintsection button {
    margin:20px;
    height:30px;
    width:100px;
}

hint {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

#song-artist {
  text-align:left;
  font-weight:300;
  color:darkblue;
}

#song-title {
  text-align:left;
  font-weight:100;
  color:blue;
}

#list-of-songs {
  border:1px solid black;
  border-radius: 5px;
  width:250px;
  min-height: 50px;
  padding:5px;
}

#point-count {
  border:1px solid black;
  border-radius: 5px;
  width:250px;
  padding:5px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:20px;
  font-weight:300;
  color:#d81159;
}

 .hint {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

#letter-hint {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#hint-style {
  font-size:50px;
  font-weight:100;
  color:#d81159;
}

.hint button {
  background-color:#d81159;
  border:1px solid #d81159;
  border-radius:2px;
  color:white;
  /* Why is the following not changing the size of the buttons? */
  /* width:70px;
  height:15px; */
}

#video-player {
  height:200px;
}

#results {
  /* display:flex;
  justify-content:center;
  align-items:center; */
  background-color: #d81159;
  color:white;
  font-weight:200;
  width:600px;
  padding:8px;
  margin-left:375px;
  border-radius: 3px;
  opacity:0.5;
}

#gameover {
  background-color:#d81159;
  color:#FFEBE7;
  font-size:200px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  z-index:9;
  padding-top:500px;
  display:none;
}

#past-song {
  margin-bottom:10px;
}

@keyframes moveBox {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-30px, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-30px, 0);
  }
  40% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-30px, 0);
  }
  60% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(-30px, 0);
  }
  80% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(-30px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.is-moving {
  animation: 0.5s linear 0s alternate moveBox;
  animation-duration:1s;
}

@keyframes changeSize {
  from {
    transform: (0deg);
    transform: z
  }
  to {
    transform: rotate(360deg);
  }
}

.is-changing-size {
  animation: 0.5s linear 0s alternate changeSize;
  animation-duration:1s;

}

.fa-heart {
  width:100px;
  height:100px;
  margin:5px;
  color: white;
}